@model EcoVaccine.Application.Common.AppServiceResponse<EcoVaccine.Application.Models.Patient.Response.PatientResponse>

@{
    ViewData["Title"] = "Paciente";
}

<h1>Paciente</h1>

<div>
    <hr />
    <dl class="row">
        @if (Model.Success == false)
        {
            <dt class="col-sm-2">
                @Model.Message
            </dt>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data.Gender)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data.Gender)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Data.Neighborhood)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Data.Neighborhood)
            </dd>
        }
    </dl>
</div>